<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vamos conversar?</h2>
                <hr class="primary">
                <p>Está pronto para começar seu próximo projeto conosco? Isso é ótimo! Entre em contato conosco e vamos te atender o mais rápido possível!</p>
            </div>

            <!-- WhatsApp -->
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://wa.me/5555981155626" target="_blank" rel="noopener" aria-label="WhatsApp">
                    <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s" style="color: #25D366;"></i>
                    <p>+55 55 9 8115-5626</p>
                </a>
            </div>

            <!-- E-mail -->
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>guilhermethomas.neo@gmail.com</p>
                </a>
            </div>

            <!-- GitHub -->
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>solaire-tec</p>
                </a>
            </div>
        </div>
    </div>
</section>