<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Deixe seu equipamento em nossas mãos e foque no seu objetivo.</h1>
            <hr>
            <p>Iremos tirar suas preocupações com hardware e suporte técnico, realizamos orçamentos personalizados, garantimos a qualidade e a agilidade que
                voce precisa, sem deixar de lado um valor acessível tanto para você ou seu negócio.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Confira nossos serviços</a>
        </div>
    </div>
</header>
