<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Quotes/Estimates -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-invoice-dollar wow bounceIn text-primary"></i>
                    <h3>Orçamentos</h3>
                    <p class="text-muted">Garantimos um excelente preço, montagem rápida e configuração personalizada.</p>
                </div>
            </div>
            
            <!-- Fast Formatting -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Formatação expressa</h3>
                    <p class="text-muted">Iremos formatar seu computador com segurança e qualidade, garantindo que tudo funcione perfeitamente.</p>
                </div>
            </div>
            
            <!-- Preventive Maintenance -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tools wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Manutenção preventiva</h3>
                    <p class="text-muted">Iremos realizar uma limpeza geral, troca de peças e verificação de hardware, garantindo que seu computador funcione perfeitamente.</p>
                </div>
            </div>
            
            <!-- Software Installation -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-download wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Instalação de programas</h3>
                    <p class="text-muted">Iremos instalar programas necessários, garantindo que tudo funcione perfeitamente.</p>
                </div>
            </div>
        </div>
    </div>
</section>